NODE_ENV=development
PORT=5000

### Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=luma
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
TZ=America/Vancouver
PGTZ=America/Vancouver

### Adminer
ADMINER_DESIGN=pepa-linha
ADMINER_DEFAULT_DB_DRIVER=pgsql